    color: #999;
    position: absolute;
    right: 10px;
    font-size: 100%;
    cursor: pointer;
    content: "-";
  }
  li:nth-child(odd):hover::after {
    color: red;
  }
  li:nth-child(even) {
    padding-left: 48px;
    color: white;
    font-size: 80%;
    height: auto;
    background-color: #111;
    padding: 24px;
    border-radius: 0;
    margin-bottom: 12px;

    .letter {
      opacity: 1;
    }
    img {
     width: 88%;
     height: auto;
    }
  }
  li:nth-child(even)::before {
    color: blue;
    content: ">> ";
  }
  li:nth-child(even)::selection {
    background-color: blue;
    color: #111;
  }
  .image {
    background-color: #1347ad !important;
    text-align: center;
  }
  

  .image::before {
    content: "" !important;
  }
}

