body {
  background-color: #4f5258 !important;
  font-family: "monaco";
  transition: background-color 2s;
  position: relative;
  margin: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 900px;
}

footer {
  margin-bottom: 16px;
}

.letter {
  display: inline;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .2s;
  
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


.letter::selection {
  background-color: blue;
  color: #111;
 }

.title {
  color: black;
  font-size: 18px;
  border-bottom: 3px solid black;
  padding-bottom: 6px;
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 24px;
  cursor: default;
  user-select: none;
}

.email {
  text-align: right;
}

.end {
  text-align: right;
  color: black;
  font-size: 16px;
  line-height: 16px;
  cursor: default;
  user-select: none;
}

.centered {
  position: relative;
}

.consoles {
  text-decoration: none;
  position: relative;
  list-style: none;
  width: 100%;
  padding: 0;
  img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-bottom: 12px;
  }
  img::selection {
    background-color: blue;
  }
  li {
    color: #222;
    font-size: 100%;
    width: 100%;
    overflow: auto;
    transition: height .5s;
  }
  li:nth-child(odd) {
    padding-left: 8px;
    color: black;
    background-color: #3b3f46;
    border-radius: 6px 6px 0 0;
    user-select: none;
    font-weight: bold;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: default;
  }
  li:nth-child(odd)::after {
    color: #999;
    position: absolute;
    right: 10px;
    font-size: 100%;
    cursor: pointer;
    content: "-";
  }
  li:nth-child(odd):hover::after {
    color: red;
  }
  li:nth-child(even) {
    padding-left: 48px;
    color: white;
    font-size: 80%;
    height: auto;
    background-color: #111;
    padding: 24px;
    border-radius: 0;
    margin-bottom: 12px;

    .letter {
      opacity: 1;
    }
    img {
     width: 88%;
     height: auto;
    }
  }
  li:nth-child(even)::before {
    color: blue;
    content: ">> ";
  }
  li:nth-child(even)::selection {
    background-color: blue;
    color: #111;
  }
  .image {
    background-color: #1347ad !important;
    text-align: center;
  }
  

  .image::before {
    content: "" !important;
  }
}

